<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->

</head>

<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div class="container">
        <h1>Edit Location</h1>


    <div id="edit form">
        <h3>Edit Location</h3>
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Edit Location</span>
            </div><br>
            <div class="col-7 text-center m-3">
                <form action="/editLocation" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" id="name"
                                   class="form-control" th:value="${location.name}"/>
                        </div>
                    </div>
                    <div id="locationField" class="form-group row">
                        <label for="autocomplete" class="col-3 col-form-label">Address:</label>
                        <div class="col-9">
                        <input id="autocomplete"
                               name="address"
                               class=" form-control"
                               placeholder="Enter the address"
                               onFocus="geolocate()"
                               type="text"  th:value="${location.address}"/>
                        </div>
                    </div>
                    <br>


                    <div class="form row">
                        <div class="form-group col-md-3">
                            <label for="street_number">Number</label>
                            <input class="field form-control" id="street_number" disabled="true" readonly/>
                        </div>
                        <div class="form-group col-md-9">
                            <label for="route">Street</label>
                            <input class="field form-control" id="route" disabled="true" readonly/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="locality">City</label>
                            <input class="field form-control" type="text" id="locality" disabled="true" readonly/>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="administrative_area_level_1">State</label>
                            <input class="field form-control" type="text" id="administrative_area_level_1" disabled="true" readonly/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="postal_code">Zip</label>
                            <input class="field form-control" type="text" id="postal_code" disabled="true" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input class="field form-control" type="text" id="country" disabled="true" readonly/>
                    </div>

                    <input type="hidden" id="placeID" name="placeID" />
                    <input type="hidden" id="latitude" name="latitude" />
                    <input type="hidden" id="longitude" name="longitude" />


                    <input type="hidden" name="id" th:value="${location.id}"/>
                    <button type="submit" class="btn btn-primary">
                        Update Location</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>






<!-- /.container -->

<div th:replace="fragments/stylingFragment.html :: googleAuto"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<div th:replace="fragments/stylingFragment.html :: includes"></div>
<script src="../js/hero.js" th:href="@{/js/hero.js}"></script>
</body>
</html>