<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->
    <link href="../css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div class="container">
        <h1>Home</h1>









<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



<script src="../js/hero.js" th:href="@{/js/hero.js}"></script>
<div th:replace="fragments/stylingFragment.html :: includes"></div>
</body>
</html>