<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->
    <link href="../css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div class="container">
        <h1>Home</h1>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>









<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</main>
        <div th:replace="fragments/stylingFragment.html :: includes"></div>

</body>
</html>