<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->

</head>

<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div class="container">
        <h1 class="display-2 " align="center" style="font-weight: 500;">Powers       <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addPower"><i class="fas fa-plus-square"></i> Add Power</button>
        </h1>
        <table id="power-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Unique</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="power:${powers}">
                <td th:text="${power.name}">Name</td>
                <td th:text="${power.description}">Description</td>
                <td><div th:if="${power.unique} == true"><i style="color:green;" class="d-flex justify-content-center fas fa-check-square fa-2x"></i></div><div th:if="${power.unique} == false"><i style="color: red;" class="d-flex justify-content-center fas fa-times-circle fa-2x"></i></div></td>
                <td><a href="#" th:onclick="'javascript:openPowerModal(\'' + ${power.id} + '\');'"><i class="d-flex justify-content-center fas fa-info-circle fa-2x"></i></a></td>
                <td><a href="#" th:href="@{editPowers(id=${power.id})}"><i class="d-flex justify-content-center fas fa-edit fa-2x"></i></a></td>
                <td ><a  th:href="'#confirmDelete' + ${power.id}" class="trigger-btn" data-toggle="modal"><i class="d-flex justify-content-center fas fa-minus-square fa-2x"></i></a><br>
                    <div th:id="'confirmDelete' + ${power.id}" class="modal fade" style="font-family: 'Varela Round', sans-serif;">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="icon-box">
                                        <i class="material-icons" style="text-align: center;">&#xE5CD;</i>
                                    </div>

                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">

                                    <div><h2 class="modal-title">Are you sure?</h2></div>

                                    <p>Do you really want to delete  <span th:text="${power.name}" style="color:black; font-weight: bolder; font-size: 120%;">Name</span>? This process cannot be undone.</p>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-info " data-dismiss="modal">Cancel</button>
                                        <a href="#" th:href="@{deletePower(id=${power.id})}"> <button type="button" class="btn btn-danger ">Delete</button></a> </div>
                                </div> </div>
                            <div class="modal-footer">


                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Unique</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </tfoot>
        </table>


    </div>



</main>






        <!-- Modal content-->





<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<div th:replace="fragments/stylingFragment.html :: includes"></div>


</body>
</html>