<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->
    <link href="../css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div class="container">
        <h1>Sightings</h1>

        <table id="sightings-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>Superperson</th>
                <th>Location</th>
                <th>Reporter</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sighting:${sightings}">
                <td th:text="${sighting.date}">Date</td>
                <td th:text="${sighting.superPerson.name}">Superperson</td>
                <td th:text="${sighting.location.name + ': ' + sighting.location.address}">Address</td>
                <td th:text="${sighting.reporterName}">Reporter</td>
                <td><i class="fas fa-info-circle"></i></td>
                <td><a href="#" th:href="@{editSighting(id=${sighting.id})}"><i class="fas fa-edit"></i></a></td>
                <td><a href="#" th:href="@{deleteSighting(id=${sighting.id})}"><i class="fas fa-minus-square"></i></a></td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <th>Date</th>
                <th>Superperson</th>
                <th>Location</th>
                <th>Reporter</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </tfoot>
        </table>


    </div>
    <div id="add form">
        <h3>Report a Sighting</h3>
        <form type="form" action="addSighting" method="POST">
            <div class="form-group row">
                <label for="date" class="col-2 col-form-label">Date</label>
                <div class="col-8">
                    <input class="form-control" type="date" value="2011-08-19" id="date" name="date">
                </div>
            </div>
            <div class="form-group">
                <label for="super">Superperson</label>
                <select class="form-control" id="super" name="super">
                    <option th:each="super : ${supers}"
                                   th:value="${super.id}"
                                   th:text="${super.name}" >Superperson</option>
                    <option>Add New SuperPerson</option>
                </select>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <select class="form-control" id="location" name="location">
                    <option th:each="location : ${locations}"
                            th:value="${location.id}"
                            th:text="${location.name + '(' + location.address + ')'}">Location</option>
                    <option>Add New Location</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-4" for="reporterName">Your Name</label>
                <div class="col-10">
                <input type="name" class="col-8 form-control" id="reporterName" name="reporter-name"/>
                </div>
            </div>
            <div class="form-group">
                    <label for="upload-image">Upload Image</label>
                    <input type="file" class="form-control-file" id="upload-image">
                </div>
            <button type="submit" class="btn btn-primary">Add Sighting</button>
        </form>
    </div>
</main>






<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



<script src="../js/hero.js" th:href="@{/js/hero.js}"></script>
<div th:replace="fragments/stylingFragment.html :: includes"></div>
</body>
</html>