<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->
    <link href="../css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div class="container">
        <h1>Superheroes and Supervillains</h1>

        <table id="organization-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Organization(s)</th>

                <th>Power(s)</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="super:${supers}">
                <td th:text="${super.name}">Name</td>
                <td><span th:each="organization:${super.organizations}"><span th:text="${organization.name}"/><br></span></td>
                <td><span th:each="power:${super.powers}"><span th:text="${power.name}"/><br></span></td>
                <td th:text="${super.description}">Description</td>
                <td><i class="fas fa-info-circle"></i></td>
                <td><i class="fas fa-edit"></i></td>
                <td><i class="fas fa-minus-square"></i></td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Organization(s)</th>

                <th>Power(s)</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </tfoot>
        </table>


    </div>
    <div id="add form">
        <h3>Add Super</h3>
        <form type="form" action="/addSuper" method="POST">
            <div class="form-group">
                <label class="col-4" for="name">Superhero/Supervillain Name</label>
                <input type="text" class="col-8 form-control" id="name" name="name"/>
            </div>


            <div class="form-group row">
                <label for="organizations" class="col-3 col-form-label">
                    Organizations</label>
                <div class="col-9">
                    <select multiple id="organizations" name="organizationId"
                            class="form-control" >
                        <option th:each="organization:${organizations}"
                                th:value="${organization.id}"
                                th:text="${organization.name}">
                            Organizations Name</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="powers" class="col-3 col-form-label">
                    Powers</label>
                <div class="col-9">
                    <select multiple id="powers" name="powerId"
                            class="form-control" >
                        <option th:each="power:${powers}"
                                th:value="${power.id}"
                                th:text="${power.name}">
                            Powers Name</option>
                    </select>
                </div>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="isVillain" name="isVillain"/>

                <label class="custom-control-label" for="isVillain" >Check if Villain</label>

            </div>
            <div class="form-group">
                <label class="col-4" for="description">Description</label>
                <input type="text" class="col-8 form-control" id="description" name="description"/>
            </div>
            <button type="submit" class="btn btn-primary">Add Super</button>
        </form>
    </div>
</main>







<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



<script src="../js/hero.js" th:href="@{/js/hero.js}"></script>
<div th:replace="fragments/stylingFragment.html :: includes"></div>
</body>
</html>